@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: rgb(130, 106, 251);
}

.container{
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0,0.1);
}

.container header{
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}

.container .form{
    margin-top: 30px;
}

.form .inpunt-box{
    width: 100%;
    margin-top: 20px; 
}

.inpunt-box label {
    color: #333;
}

.form :where(.inpunt-box input, .selec-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

/*para ficar com o quadrados um do ladodo outro .form .column{
    display: flex;
    column-gap: 15px;
}*/

.inpunt-box input:focus{
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}


.form .column{
    display: flex;
    column-gap: 15px;
}

.form .gender-box {
    margin-top: 20px;
}

.gender-box h3{
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.form :where( .gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.form .gender{
    column-gap: 5px;
    cursor: pointer;
}

.form .gender{
    column-gap: 5px;

}

.gender input p {
accent-color: rgb(130, 106, 251);
}


.form :where(.gender input, .gender label){
    cursor: pointer;

}
.gender label{
    color: #707070;
}

.addres :where(input, .selec-box){
    margin-top: 15px;
}

.selec-box select{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
}

.form button{
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 400;
    transition: all0.2s ease;
    background-color: rgb(130, 106, 251);
}

.form button:hover{
    background-color: rgb(88, 56, 250);

}
/*responsive*/

@media screen and (max-width:500px){
    .form .column{
        flex-wrap: wrap;
    }

    .form :where( .gender-option, .gender){
        row-gap: 15px;
    }
    
}